<div class="flex flex-col p-4 border bg-slate-300 rounded-xl">
  <div class="flex justify-between items-center space-x-2 mb-2">
    <span>{{ include.year }}</span>
    <a 
      class="github-button" 
      href="https://github.com/adyanmuhammad93/portfolio" 
      data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" 
      data-size="large" 
      data-show-count="true" 
      aria-label="Star adyanmuhammad93/portfolio on GitHub">Star</a>
  </div>
  {% capture title %}{{ include.title }}{% endcapture %}
  {% include 
    atom/h3.html
    text=title  
  %}
  <p>{{ include.text }}</p>
 </div>