<!-- Hero -->
<div class="col-span-1 sm:col-span-12 mb-4">
  <div class="flex flex-col space-y-4">
    <h1 class="text-5xl md:text-7xl">Hi, I'm Adyan</h1>
    <h2 class="text-3xl md:text-5xl">a Software Engineer from Bandung. I work on <a href="/work/" class="text-green-500" target="_blank">open source</a> projects, writing <a href="/blog/" class="text-green-500" target="_blank" rel="noopener noreferrer">posts</a> about the web, and showcasing my <a href="/work/" class="text-green-500" target="_blank" rel="noopener noreferrer">work</a> here.</h2>
  </div>
</div> 