<!-- Navbar -->
<div class="col-span-1 sm:col-span-12">
  <div class="flex justify-between items-center space-x-4 py-4">
    <!-- Nav -->
    <ul class="flex items-center space-x-4 mb-0">
      {% for nav in site.data.nav limit:1 %}
      <li>
        <a href="{{ nav.url }}" class="bg-blue-300 text-white px-2 py-1 rounded-full text-xs">
          {{ nav.name }}
        </a>
      </li>
      {% endfor %}

      {% for nav in site.data.nav offset:1 limit:3 %}
      <li class="hidden sm:block">
        <a href="{{ nav.url }}">{{ nav.name }}</a>
      </li>
      {% endfor %}

      {% for nav in site.data.nav offset:4 %}
      <li class="hidden sm:block">
        <a href="{{ nav.url }}" target="_blank" rel="noopener noreferrer">{{ nav.name }}</a>
      </li>
      {% endfor %}
    </ul>
    
    <!-- Dark Mode and Hamburger Menu -->
    <div class="flex items-center space-x-4">
      <button id="switch-1" class="bg-blue-300 text-white px-2 py-1 rounded-full text-xs">Dark Mode</button>
      <button id="switch-2" class="sm:hidden bg-red-300 text-white px-2 py-1 rounded-full text-xs">Menu</button>
    </div>
  </div>
</div>