<!DOCTYPE html>
<html id="site" lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include sections/portfolio/head.html %}
    {% include sections/portfolio/structured-data.html %}
  </head>
  <body class="bg-white dark:bg-stone-900 text-stone-900 dark:text-white">
    <div class="mx-auto w-[100%] max-w-[1200px] p-4">
      <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 gap-y-8">
        {% include sections/portfolio/navbar.html %}
        {% include sections/portfolio/offcanvas.html %}
        {% include sections/portfolio/hero.html %}
        {% include sections/portfolio/featured-blog.html %}
        <div class="col-span-1 sm:col-span-12"></div>
        {% include sections/portfolio/featured-work.html %}
        {% include sections/portfolio/footer.html %}
      </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#switch-1").click(function() {
          $("#site").toggleClass("dark");
        });
        $("#switch-2").click(function() {
          $("#offcanvas").toggleClass("hidden");
        });
      });
    </script>
  </body> 
</html>