<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include sections/portfolio/head.html %}
    {% include sections/portfolio/structured-data.html %}
  </head>
  <body>
    <div class="mx-auto w-[100%] max-w-[1200px] p-4">
      <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 gap-y-8">
        {% include sections/portfolio/navbar.html %}
        <div class="cols-span-1 sm:col-span-12">
          {{ content }}
        </div>
        {% include sections/portfolio/footer.html %}
      </div>
    </div>
  </body> 
</html>