<div class="mx-auto w-[100%] max-w-[1200px] p-4">
  <div class="grid sm:grid-cols-12 gap-4 gap-y-8">

    <div class="col-span-1 sm:col-span-12">
      <div class="flex justify-between">
        {% include
          atom/h3.html
          text=include.title
        %}
        {% capture text %}
        <h3 class="text-lg flex items-center space-x-2">
          <span>See all</span>
          <span class="material-symbols-outlined">
            arrow_circle_right
          </span>
        </h3>
        {% endcapture %}
        {% include
          atom/a-blank.html
          text=text  
        %}
        </a>
      </div>
    </div>

    {{ include.content }}
        
  </div>
</div>