<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <!-- Google Font Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: 'class'
      }
    </script>
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .mulish {
          font-family: 'Mulish', sans-serif;
        }
      }
    </style>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="site">
    <div  class="text-stone-900 dark:text-white bg-slate-100 dark:bg-slate-900 mulish">

      {{ content }}

    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#switch").click(function() {
          $(".site").toggleClass("dark");
        });
        $("#switch-2").click(function() {
          $("#offcanvas").toggleClass("hidden");
        });
      });
    </script>
  </body>
</html>